@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, Arial, serif;
  }

  :root {
    --primary-color: #fff6e9;
    --secondary-color: #fdead0;
    --accent-color: #ff7f3e;
    --active-color: #ff7f3e;
    --inactive-color: #646363;
    --text-color: #000;
  }

  html {
    @apply h-full;
  }
  body {
    @apply bg-[var(--primary-color)] h-full;
  }

  #root {
    @apply min-h-full;
  }

  @font-face {
    font-family: "Lato";
    src: local("Lato"), url(./fonts/Lato-Regular.ttf) format("ttf");
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .foodListScrollBar::-webkit-scrollbar,
  .categoryScrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .foodListScrollBar,
  .categoryScrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
